.we-chat {
    color: #FFF;
    background-color: #7ca521;
}
.chat-window {
    border: 1px solid #CCC;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.subtle {
    color: #999;
    font-weight: 200;
}
.message {
    padding: 5px 10px;
    border-radius: 10px;
    color: #FFF;
}
p.messageSent > .message {
    background-color: #7ca521;
}
p.messageReceived {
    text-align: right;
}
p.messageReceived > .message {
    background-color: #999;
}
.messageRow {
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}
.messageAuthor {
}