<div class="row" ng-repeat="message in chats">
    {{ message }}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Message..."
                       ng-model="nextMessage">
                <span class="input-group-btn">
                    <button class="btn btn-default we-chat" type="button"
                            ng-click="sendMessage()">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>